.headerTitle {
    font-weight: bold;
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
    color: white;
    text-transform: uppercase;
    margin-left: 500px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .headerTitle {
        margin-left: 150px;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.mainWrapper {
    padding-top: 50px;
    img {
        height: 300px;
        width: 100%;
        opacity: 0.8;
    }
}

.mainWrapper {
    padding-top: 50px;
}

.mainTitle {
    h2 {
        font-weight: bold;
        font-size: 24px;
        font-family: 'Dosis', sans-serif;
        color: black;
        text-transform: uppercase;
    }
}

.carousel-caption {
    font-family: 'Dosis', sans-serif;
    h4 {
        font-weight: bold;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: white;
    }
}