<div class="row container">
    <div class="col-md-12 navBar">
        <header>
            <mdb-navbar class="navigationDesign" SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-indigo scrolling-navbar intro-fixed-nav" [containerInside]="false">

                <logo>
                    <a class="logo navbar-brand" href="#"><img src="http://res.cloudinary.com/sammiestarks/image/upload/v1512465818/unnamed_hqta5f.jpg"></a>
                </logo>

                <links>
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/' routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/newspage' routerLinkActive="active">News</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/musicpage' routerLinkActive="active">Music</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/celebpage' routerLinkActive="active">Celebrities</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/tvpage' routerLinkActive="active">tv</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/eventpage' routerLinkActive="active">events</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" routerLink='/ireportpage' routerLinkActive="active">i-report</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius>
                            <a class="nav-link" (click)="authModal.show()" data-toggle="modal" data-target="#newAuthForm">log-in</a>
                        </li>
                        <li class="nav-item waves-light" mdbRippleRadius style="background-color: deeppink; border-radius: 20px; font-family: 'Dosis', sans-serif; padding-left: 10px; padding-right: 10px;">
                            <a class="nav-link">sign-up</a>
                        </li>
                    </ul>
                </links>


            </mdb-navbar>
        </header>
    </div>
</div>

<div mdbModal #authModal="mdb-modal" class="modal fade" id="newAuthForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-side modal-bottom-right modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- //  export class News {
                        //     id: number;
                        //     title: string;
                        //     subtitle: string;
                        //     content: string;
                        //     main_image: string;
                        //     images: Array<string>;
                        //     tags: Array<string>;
                        //     categories: Array<string>
                        // }
                                        'id': '1',
                                        'title': 'hue',
                                        'createdBy': 'primary',
                                        'content': '.mlknbjvhcg -->
                <h4 class="modal-title w-100" id="myModalLabel">{{signup? "Not Registered? Sign Up.":"Registered? Sign In..."}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="authModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <form action="" #f="ngForm">
                <div class="modal-body">



                    <div class="md-form">
                        <input mdbInputDirective mdbActive type="text" [(ngModel)]="this.signup? this.signup.username : f.username" name="username" id="username" class="form-control">
                        <label for="username" class="" [class.active]="this.signup"> User Name</label>
                    </div>
                    <div class="md-form">
                        <input mdbInputDirective mdbActive type="password" [(ngModel)]="this.signup? this.signup.password:f.password" name="password" id="password" class="form-control">
                        <label for="password" class="" [class.active]="this.signup">Password</label>
                    </div>





                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="authModal.hide()" mdbWavesEffect>Leave</button>
                    <button type="button" class="btn btn-primary btn-sm waves-light" (click)="submitLoginForm(f, this.signup)" mdbWavesEffect>{{signup? "Update News":"Sign In"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>